### 9. Từ dữ liệu customers.csv, các bạn thực hiện dự đoán thu nhập (Annual Income) từ các thuộc tính còn lại. Với thuộc tính dạng categories, các bạn tham chiếu link sau để chuyển đổi từ dữ liệu dạng categories sang số với 3 cách: replace(), get_dummies(), Drop columns. Tiến hành phân chia dữ liệu với tỷ lệ huấn luyện 70% và kiểm tra 30% với  các thuật toán hồi quy tuyến tính, và cây quyết định, và phương pháp mạng nơ ron tích chập. Với mỗi thuật toán kết hợp với 1 cách chuyển đổi các bạn làm trong 1 cell (sẽ có tất cả 3*3=9 cell cho câu này).

# +replace()

In [10]:
import pandas as pd
from sklearn import datasets
boston = datasets.load_boston()
bos = pd.DataFrame(boston.data,columns = boston.feature_names)
bos['Annual Income'] = boston.target
bos.head()

/home/toandokhanh/.local/lib/python3.10/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np

        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.
  warnings.warn(msg, category=FutureWarning)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Annual Income
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [11]:
from sklearn.datasets import load_boston
X,Annual_Income= load_boston(return_X_y = True)
print(X.shape)

(506, 13)

/home/toandokhanh/.local/lib/python3.10/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np

        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.
  warnings.warn(msg, category=FutureWarning)

In [12]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X,Annual_Income, test_size=0.3, random_state=1)
print(X_train.shape)
print(X_test.shape)

(354, 13)
(152, 13)

In [13]:
#import pandas
import pandas as pd
 
# read csv
df = pd.read_csv('Customers.csv')

In [14]:
df

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
0,1,Male,19,15000,39,Healthcare,1,4
1,2,Male,21,35000,81,Engineer,3,3
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Entertainment,2,6
...,...,...,...,...,...,...,...,...
1995,1996,Female,71,184387,40,Artist,8,7
1996,1997,Female,91,73158,32,Doctor,7,7
1997,1998,Male,87,90961,14,Healthcare,9,2
1998,1999,Male,77,182109,4,Executive,7,2
1999,2000,Male,90,110610,52,Entertainment,5,2

In [15]:
from sklearn import linear_model
regr = linear_model.LinearRegression()
regr.fit(X_train, y_train)

LinearRegression()

### Hồi quy tuyến tính

In [16]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

y_train_pred = regr.predict(X_train)
print('Train: mean squared error = ',mean_squared_error(y_train,y_train_pred))
print('Train: Mean absolute error = ',mean_absolute_error(y_train, y_train_pred))

y_test_pred = regr.predict(X_test)
print('Train: mean squared error = ',mean_squared_error(y_test,y_test_pred))
print('Train: Mean absolute error = ',mean_absolute_error(y_test, y_test_pred))

Train: mean squared error =  23.513334449327022
Train: Mean absolute error =  3.3444361206579742
Train: mean squared error =  19.831323672063053
Train: Mean absolute error =  3.3446655035987476

### Cây quyết định

In [17]:
from sklearn.tree import DecisionTreeRegressor
dt_regr = DecisionTreeRegressor(random_state=0)
dt_regr.fit (X_train, y_train)

from sklearn.metrics import mean_squared_error, mean_absolute_error
y_train_pred = dt_regr.predict(X_train)
print('Train: mean squared error = ',mean_squared_error(y_train,y_train_pred))
print('Train: Mean absolute error = ',mean_absolute_error(y_train, y_train_pred))

y_test_pred = dt_regr.predict(X_test)
print('Train: mean squared error = ',mean_squared_error(y_test,y_test_pred))
print('Train: Mean absolute error = ',mean_absolute_error(y_test, y_test_pred))

Train: mean squared error =  0.0
Train: Mean absolute error =  0.0
Train: mean squared error =  22.291184210526314
Train: Mean absolute error =  3.0460526315789473

### Mạng nơ ron

In [18]:
from numpy.random import seed
seed(1)
import tensorflow
tensorflow.random.set_seed(1)

from keras.models import Sequential
from keras.layers import Dense, Conv1D, Flatten

model= Sequential()
model.add(Conv1D(filters=64, kernel_size=3, activation='relu', input_shape=(X_train.shape[1],1)))

model.add(Flatten())
model.add(Dense(1))
model.compile(optimizer='adam',loss='mse')

X_train_reshape = X_train.reshape(X_train.shape[0],X_train.shape[1],1)
X_test_reshape= X_test.reshape(X_test.shape[0],X_test.shape[1],1)
print(X_train_reshape.shape)
model.fit(X_train_reshape, y_train, batch_size=32,epochs=500,verbose=0)

y_train_pred = model.predict(X_train_reshape)
print('Train: mean squared error = ',mean_squared_error(y_train,y_train_pred))
print('Train: Mean absolute error = ',mean_absolute_error(y_train, y_train_pred))

y_test_pred = model.predict(X_test_reshape)
print('Train: mean squared error = ',mean_squared_error(y_test,y_test_pred))
print('Train: Mean absolute error = ',mean_absolute_error(y_test, y_test_pred))

(354, 13, 1)
12/12 [==============================] - 0s 920us/step
Train: mean squared error =  17.679700637627818
Train: Mean absolute error =  3.1112538316155556
5/5 [==============================] - 0s 981us/step
Train: mean squared error =  17.757586066804528
Train: Mean absolute error =  3.330592796677037

# +get dumies()

In [19]:
import pandas as pd
from sklearn import datasets
boston = datasets.load_boston()
bos = pd.DataFrame(boston.data,columns = boston.feature_names)
bos['PRICE'] = boston.target
bos.head()

/home/toandokhanh/.local/lib/python3.10/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np

        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.
  warnings.warn(msg, category=FutureWarning)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [20]:
from sklearn.datasets import load_boston
X,y = load_boston(return_X_y = True)
print(X.shape)

(506, 13)

/home/toandokhanh/.local/lib/python3.10/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np

        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.
  warnings.warn(msg, category=FutureWarning)

In [21]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=1)
print(X_train.shape)
print(X_test.shape)

(354, 13)
(152, 13)

In [22]:
#import pandas
import pandas as pd
 
# read csv
df = pd.read_csv('Customers.csv')

In [23]:
df

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
0,1,Male,19,15000,39,Healthcare,1,4
1,2,Male,21,35000,81,Engineer,3,3
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Entertainment,2,6
...,...,...,...,...,...,...,...,...
1995,1996,Female,71,184387,40,Artist,8,7
1996,1997,Female,91,73158,32,Doctor,7,7
1997,1998,Male,87,90961,14,Healthcare,9,2
1998,1999,Male,77,182109,4,Executive,7,2
1999,2000,Male,90,110610,52,Entertainment,5,2

### Hồi quy tuyến tính

In [24]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

y_train_pred = regr.predict(X_train)
print('Train: mean squared error = ',mean_squared_error(y_train,y_train_pred))
print('Train: Mean absolute error = ',mean_absolute_error(y_train, y_train_pred))

y_test_pred = regr.predict(X_test)
print('Train: mean squared error = ',mean_squared_error(y_test,y_test_pred))
print('Train: Mean absolute error = ',mean_absolute_error(y_test, y_test_pred))

Train: mean squared error =  23.513334449327022
Train: Mean absolute error =  3.3444361206579742
Train: mean squared error =  19.831323672063053
Train: Mean absolute error =  3.3446655035987476

### Cây quyết định

In [25]:
from sklearn.tree import DecisionTreeRegressor
dt_regr = DecisionTreeRegressor(random_state=0)
dt_regr.fit (X_train, y_train)

from sklearn.metrics import mean_squared_error, mean_absolute_error
y_train_pred = dt_regr.predict(X_train)
print('Train: mean squared error = ',mean_squared_error(y_train,y_train_pred))
print('Train: Mean absolute error = ',mean_absolute_error(y_train, y_train_pred))

y_test_pred = dt_regr.predict(X_test)
print('Train: mean squared error = ',mean_squared_error(y_test,y_test_pred))
print('Train: Mean absolute error = ',mean_absolute_error(y_test, y_test_pred))

Train: mean squared error =  0.0
Train: Mean absolute error =  0.0
Train: mean squared error =  22.291184210526314
Train: Mean absolute error =  3.0460526315789473

### Mạng nơ ron

In [26]:
from numpy.random import seed
seed(1)
import tensorflow
tensorflow.random.set_seed(1)

from keras.models import Sequential
from keras.layers import Dense, Conv1D, Flatten

model= Sequential()
model.add(Conv1D(filters=64, kernel_size=3, activation='relu', input_shape=(X_train.shape[1],1)))

model.add(Flatten())
model.add(Dense(1))
model.compile(optimizer='adam',loss='mse')

X_train_reshape = X_train.reshape(X_train.shape[0],X_train.shape[1],1)
X_test_reshape= X_test.reshape(X_test.shape[0],X_test.shape[1],1)
print(X_train_reshape.shape)
model.fit(X_train_reshape, y_train, batch_size=32,epochs=500,verbose=0)

y_train_pred = model.predict(X_train_reshape)
print('Train: mean squared error = ',mean_squared_error(y_train,y_train_pred))
print('Train: Mean absolute error = ',mean_absolute_error(y_train, y_train_pred))

y_test_pred = model.predict(X_test_reshape)
print('Train: mean squared error = ',mean_squared_error(y_test,y_test_pred))
print('Train: Mean absolute error = ',mean_absolute_error(y_test, y_test_pred))

(354, 13, 1)
12/12 [==============================] - 0s 2ms/step
Train: mean squared error =  18.034267146822
Train: Mean absolute error =  3.1232009691033658
5/5 [==============================] - 0s 1ms/step
Train: mean squared error =  18.320330319237158
Train: Mean absolute error =  3.3196878056777153

# + Drop columns:

In [42]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error
from keras.models import Sequential
from keras.layers import Dense, Conv1D, Flatten
import numpy as np

# Đọc dữ liệu từ tập tin CSV
df = pd.read_csv('Customers.csv')

# Xử lý dữ liệu categories sang số bằng phương pháp Drop columns
df_numeric = df[['Age', 'Annual Income ($)', 'Spending Score (1-100)', 'Work Experience', 'Family Size']]

# Tách features và target
X = df_numeric.drop(columns=['Annual Income ($)'])
y = df_numeric['Annual Income ($)']

# Chia tập dữ liệu thành tập train và tập test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

### Hồi quy tuyến tính

In [44]:

# Hồi quy tuyến tính
regr = LinearRegression()
regr.fit(X_train, y_train)

y_train_pred = regr.predict(X_train)
print('Train: mean squared error = ', mean_squared_error(y_train, y_train_pred))
print('Train: Mean absolute error = ', mean_absolute_error(y_train, y_train_pred))

y_test_pred = regr.predict(X_test)
print('Test: mean squared error = ', mean_squared_error(y_test, y_test_pred))
print('Test: Mean absolute error = ', mean_absolute_error(y_test, y_test_pred))

Train: mean squared error =  2108804752.370076
Train: Mean absolute error =  38927.20711660786
Test: mean squared error =  1931388122.2723925
Test: Mean absolute error =  37334.13977856026

### Cây quyết định

In [45]:
# Cây quyết định
dt_regr = DecisionTreeRegressor(random_state=0)
dt_regr.fit(X_train, y_train)

y_train_pred = dt_regr.predict(X_train)
print('Train: mean squared error = ', mean_squared_error(y_train, y_train_pred))
print('Train: Mean absolute error = ', mean_absolute_error(y_train, y_train_pred))

y_test_pred = dt_regr.predict(X_test)
print('Test: mean squared error = ', mean_squared_error(y_test, y_test_pred))
print('Test: Mean absolute error = ', mean_absolute_error(y_test, y_test_pred))

Train: mean squared error =  0.0
Train: Mean absolute error =  0.0
Test: mean squared error =  4156396047.745
Test: Mean absolute error =  52799.995

### Mạng nơ ron

In [46]:
# Mạng nơ ron tích chập
model = Sequential()
model.add(Conv1D(filters=64, kernel_size=3, activation='relu', input_shape=(X_train.shape[1], 1)))
model.add(Flatten())
model.add(Dense(1))
model.compile(optimizer='adam', loss='mse')

X_train_reshape = X_train.values.reshape(X_train.shape[0], X_train.shape[1], 1)
X_test_reshape = X_test.values.reshape(X_test.shape[0], X_test.shape[1], 1)

model.fit(X_train_reshape, y_train, batch_size=32, epochs=500, verbose=0)

y_train_pred = model.predict(X_train_reshape)
print('Train: mean squared error = ', mean_squared_error(y_train, y_train_pred))
print('Train: Mean absolute error = ', mean_absolute_error(y_train, y_train_pred))

y_test_pred = model.predict(X_test_reshape)
print('Test: mean squared error = ', mean_squared_error(y_test, y_test_pred))
print('Test: Mean absolute error = ', mean_absolute_error(y_test, y_test_pred))

44/44 [==============================] - 0s 665us/step
Train: mean squared error =  2947337099.75811
Train: Mean absolute error =  43924.2351046317
19/19 [==============================] - 0s 907us/step
Test: mean squared error =  2742844735.1574025
Test: Mean absolute error =  42713.516774088544